<header>
  <div>
    <%= link_to "ストレングスファインダー資質共有アプリ", root_path %>
    <nav>
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", '#' %></li>
          <li>
            <a href="#">
              <%= current_user.name %> <b></b>
            </a>
            <ul>
              <li><%= link_to "マイページ", current_user %></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
